<!DOCTYPE html>
<html lang="fa" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Procard - قالب شخصی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="/images/favicon.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/css/transition-animations.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/main-green.css" type="text/css">

    <!-- This styles needs for demo -->
    <link rel="stylesheet" href="/preview/lmpixels-demo-panel.css" type="text/css">
    <!-- /This styles needs for demo -->

    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
</head>

<body class="material-template">
    <!-- Loading animation -->
    <div class="preloader">
        <div class="preloader-animation">
            <div class="preloader-spinner">
            </div>
        </div>
    </div>
    <!-- /Loading animation -->

    <div id="page" class="page">
        <!-- Header -->
        <header id="site_header" class="header mobile-menu-hide">
            <div class="header-content">

                <div class="site-title-block mobile-hidden">
                    <div class="site-title">رضا <span>نبهانی</span></div>
                </div>

                <!-- Navigation -->
                <div class="site-nav">
                    <!-- Main menu -->
                    <ul id="nav" class="site-main-menu">
                        <li>
                            <a class="pt-trigger" href="#home">خانه</a><!-- href value = data-id without # of .pt-page. -->
                        </li>
                        <li>
                            <a class="pt-trigger" href="#resume">رزومه</a>
                        </li>                       
                        <li>
                            <a class="pt-trigger" href="#contact">تماس</a>
                        </li>
                    </ul>
                    <!-- /Main menu -->
                </div>
                <!-- Navigation -->
            </div>
        </header>



        <div >
            <div class="clientarea">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="loggein">
                        <i class="zmdi zmdi-account"></i><a href=""> @User.Identity.Name ، خوش آمدی </a>
                        /
                        <a href="/Logout"> خروج </a>
                    </div>
                }
                else
                {
                    <div class="signin">
                        <i class="zmdi zmdi-account"></i>
                        <a href="/Login"> ورود </a> /
                        <a href="/Register"> عضویت </a>
                    </div>
                }

            </div>

            <!-- /Header -->
            <!-- Mobile Header -->
            <div class="mobile-header mobile-visible">
                <div class="mobile-logo-container">
                    <div class="mobile-site-title">رضا نبهانی </div>
                </div>

                <a class="menu-toggle mobile-visible">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <!-- /Mobile Header -->
            <!-- Main Content -->
            <div id="main" class="site-main">
                <!-- Page changer wrapper -->
                @RenderBody()
                <!-- /Page changer wrapper -->
            </div>
            <!-- /Main Content -->
        </div>
        <footer>
            <div class="copyrights">تمامی حقوق محفوظ است. ارائه شده در وبسایت راستچین</div>
        </footer>

        <!-- Demo Color changer -->
        <a id="lm_demo_panel_switcher" class="lm-demo-panel-switcher right"><i class="fa fa-gear"></i></a>
        <div id="lm_demo_panel" class="lm-demo-panel right panel-color-red active">
            <div class="demo-panel-title">رنگ اصلی</div>
            <div id="main_color" class="demo-panel-options">
                <a data-id="deep-purple"><div class="preview color-1">&nbsp;</div></a>
                <a data-id="red"><div class="preview color-2">&nbsp;</div></a>
                <a data-id="blue"><div class="preview color-3">&nbsp;</div></a>
                <a data-id="deep-orange"><div class="preview color-4">&nbsp;</div></a>
                <a data-id="green" class="current-main-color"><div class="preview color-5">&nbsp;</div></a>
                <a data-id="light-blue"><div class="preview color-6">&nbsp;</div></a>
                <a data-id="pink"><div class="preview color-7">&nbsp;</div></a>
                <a data-id="purple"><div class="preview color-8">&nbsp;</div></a>
                <a data-id="orange"><div class="preview color-9">&nbsp;</div></a>
                <a data-id="amber"><div class="preview color-10">&nbsp;</div></a>
                <a data-id="lime"><div class="preview color-11">&nbsp;</div></a>
                <a data-id="teal"><div class="preview color-12">&nbsp;</div></a>
            </div>
        </div>
        <!-- /Demo Color changer -->

        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/pages-switcher.js"></script>
        <script type="text/javascript" src="/js/validator.js"></script>
        <script type="text/javascript" src="/js/jquery.shuffle.min.js"></script>
        <script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="/js/jquery.hoverdir.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEn4c_T1rFt7ltf_oNavnjND8dDPm4KQs&language=fa"></script>
        <script type="text/javascript" src="/js/jquery.googlemap.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>

        <!-- Demo Color changer Script -->
        <script src="/preview/lmpixels-demo-panel.js"></script>
        <!-- /Demo Color changer Script -->
</body>
</html>
