@model MyRezaNabhani.DomainClasses.AboutMe.AboutMe
@{
    ViewData["Title"] = "صفحه اصلی  سایت";
}


<div class="pt-wrapper">
    <!-- Subpages -->
    <div class="subpages">

        @await Component.InvokeAsync("AboutMeComponent")


        <!-- Resume Subpage -->
      @await Component.InvokeAsync("SkillMeComponent")
        <!-- End of Resume Subpage -->

       

        <!-- Contact Subpage -->
      <partial name="ContactUs" />
        <!-- End Contact Subpage -->




    </div>
</div>

