@model MyRezaNabhani.DomainClasses.AboutMe.AboutMe
@{
    ViewData["Title"] = "صفحه اصلی  سایت";
}
@section Footer
{
    <footer>
        <div class="copyrights">تمامی حقوق مادی و معنوی این سایت متعلق به رضا نبهانی  می باشد </div>
    </footer>

}

@section Color
{

    <a id="lm_demo_panel_switcher" class="lm-demo-panel-switcher right"><i class="fa fa-gear"></i></a>
    <div id="lm_demo_panel" class="lm-demo-panel right panel-color-red active">
        <div class="demo-panel-title">رنگ اصلی</div>
        <div id="main_color" class="demo-panel-options">
            <a data-id="deep-purple"><div class="preview color-1">&nbsp;</div></a>
            <a data-id="red"><div class="preview color-2">&nbsp;</div></a>
            <a data-id="blue"><div class="preview color-3">&nbsp;</div></a>
            <a data-id="deep-orange"><div class="preview color-4">&nbsp;</div></a>
            <a data-id="green" class="current-main-color"><div class="preview color-5">&nbsp;</div></a>
            <a data-id="light-blue"><div class="preview color-6">&nbsp;</div></a>
            <a data-id="pink"><div class="preview color-7">&nbsp;</div></a>
            <a data-id="purple"><div class="preview color-8">&nbsp;</div></a>
            <a data-id="orange"><div class="preview color-9">&nbsp;</div></a>
            <a data-id="amber"><div class="preview color-10">&nbsp;</div></a>
            <a data-id="lime"><div class="preview color-11">&nbsp;</div></a>
            <a data-id="teal"><div class="preview color-12">&nbsp;</div></a>
        </div>
    </div>
}


<div class="pt-wrapper">
    <!-- Subpages -->
    <div class="subpages">

        @await Component.InvokeAsync("AboutMeComponent")


        <!-- Resume Subpage -->
        @await Component.InvokeAsync("SkillMeComponent")
        <!-- End of Resume Subpage -->
        <!-- Contact Subpage -->
        <partial name="ContactUs" />
        <!-- End Contact Subpage -->




    </div>
</div>

